/*Basic selector: class & ID*/
.content-blue {
	color: blue;
}
.content-red {
	color: red;
}
#fs-12 {
	font-size: 12px;
}
.content {
	font-weight: bold;
}
/*Child Selector*/

.parent .child .child-1 {

	color: green;
}
.child>.child-1 {
	text-align: center;
}
.list-childs>li:first-child {
	color: red;
}
.list-childs>li:last-child {
	color: yellow;
}
.list-tasks>li:nth-child(2n) {
	color: orange  ;
}
.list-tasks>li:nth-child(2n+1) {
	color: purple;
}
.list-works>li:nth-last-child(2) {
	color: red;
}
/*3. Attribute Selector*/

a[href]{
	color: red;
	font-size: 14px;	
}
a[href*="abc.com"] {
	color: blue;
	font-size: 16px;
}
a[href$=".org"] {
	color: silver;
	font-size: 18px;

}
a[href^="https"][href$=".com"] {
	color: yellow;
	font-size: 20px;

}
input[type="text"] {
	width: 200px;
	height: 50px;
}
/*4. Universal Selector*/

*.car-item {
	font-size:20px;
}
/*5. Pseudo-Class*/

a:hover {
	color: pink;
}
a:visited {
	color: blue;
}
a:active {
	color: purple;
}
/*6. Pseudo-Element*/

.blog>p::first-line {
	color: red;
}
.blog>p::first-letter {
	text-transform: uppercase;
}
/*7. Box model*/

.title {
	width: 300px;
	border: 15px solid red;
	padding: 40px;
	margin-bottom: 50px;
}
.content-blog {
	width: 500px;
	border: 15px solid green;
	padding: 40px;
	margin-top: 50px;
}
/*8.Text & font*/

.text-content {
	text-align: center;
	text-overflow: inherit;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #cc0000;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
}
/*9.Color & Background*/
.box1 {
	color: red;
	background: blue;
	font-size: 30px;
}
.box2 {
	color: green;
	background-color: pink;
	font-size: 30px;
}
.box3 {
	color: purple;
	font-size: 30px;
	background-image: url(https://i.pinimg.com/originals/2f/60/6a/2f606ad14bf9171e5f41b42a01b4441f.jpg);
}
.box4 {
	color: purple;
	font-size: 30px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	background-image: url(https://i.pinimg.com/originals/2f/60/6a/2f606ad14bf9171e5f41b42a01b4441f.jpg);
}
