
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
*,:after,:before {
	box-sizing: border-box;
}
body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #555252;
}

.fa {

	font:normal normal normal 14px/1 FontAwesome;
	font-weight: 100;
}
.mt-50 {
	margin-top: 50px;
}
.row {
	margin: 0 -15px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
h4 {

	font-size: 25px;
	font-weight: 400;
}
h3 {
	padding: 0;
	margin: 0;
	font-size:20px;
	font-weight: 400;

}
h2 {
	padding: 0;
	font-size:25px;
	font-weight: 600;
	
}
h1 {
	padding: 0;
	margin: 0;
	font-size: 70px;
	font-weight: 400;

}
button{
	background-color: transparent;
	border:none;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	margin:0 auto;
	padding: 0 15px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
/* Header */
.header-top {
	border:1px solid #dedcdc;
}
.dropdown-menu {
	display: none;
	width: 125px;
	position: absolute;
	z-index: 222;
	background-color: white;
	top:100%;
	left: 0;
	text-align: left;
	box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
	transition: all .5s ease 0s;
}
.dropdown-menu ul li:hover {
	cursor: pointer;
	color: #6f42c1;
}

.header-top-left {
	display: inline-block;
	position: relative;
}
.header-top-left>li {
	display: inline-block;
	line-height: 50px;
	padding:0 25px;
	font-weight: 400;
	cursor: pointer;
	color: #555252;
}
.header-top-left li:before {
	position: absolute;
	top: 47%;
	width: 1px;
	left: -10px;
	height: 15px;
	content: "";
	transform: translateY(-50%);
	background-color: #d5d4d4;
}
.header-top-left>li:first-child {
	padding-left: 0;
}
.header-top-left>li:last-child {
	cursor: default;
}
.header-top-left>li:last-child:hover {
	color: #555252;
}
.header-top-left li:hover .dropdown-menu {
	display: block;
	color: #555252;
}
.header-top-left li span:hover {
	color: #6f42c1;
}
.header-offer {
	float: right;
	line-height: 50px;
	font-weight: 400;
}
.price-offer {
	color: red;
}
.fa-angle-down {
	padding-left: 5px;
}
.header-bottom {
	position: relative;
	z-index: 999;
}
.fixed {
	position: fixed;
	top: 0;
}
.header-logo {
	line-height: 94px;
}
.header-menu>li {
	display: inline-block;
	line-height: 94px;
	padding-left: 25px;
	font-size: 15px;
	font-weight: 600;
}
.header-menu>li:first-child {
	padding-left: 0;
}
.header-actions>li {
	display: inline-block;
	line-height: 94px;
}
.header-actions .btn-menu {
	display: none;
}
.header-menu a:hover {
	color:  #6f42c1;
}
.header-nav {
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.header-nav>ul {
	text-align: center;
}
.header-actions {
	display: inline-block;
	float: right;
}
.header-actions li {
	position: relative;
	padding-left: 15px;
}
.header-actions a:hover {
	color: #6f42c1;
}
.header-actions button:hover {
	color: #6f42c1;
}

.header-actions li:first-child {
	padding-left: 0;
}
.counter {
	display: inline-block;
	position: absolute;
	top:20px;
	line-height: 21px;
	right: -10px;
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	text-align: center;
	border-radius: 50%;
}
.page-header {
	margin: 0;
	padding: 0;
}
/* Main*/
.section-carousel {
	position: relative;
	margin: 0;
	padding: 0;
}
.image-carousel {
	width: 100%;
	height: 800px;
	object-fit: cover;
}
.none{
	display: none;
}
.content-carousel {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	color: white;
}
.content-carousel h1 {
	padding-bottom: 50px;
}

.btn {
	padding: 15px 45px 15px 45px;
	
}
.btn-outline {
	border-radius: 25px;
	background-color: transparent;
	border: 2px solid white;
}
.btn-outline:hover {
	background: #6f42c1;
	border:0;
	transition: width 2s;

}
.btn-previous {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin-left: 90px;
	z-index: 200;
	font-size: 30px;
	color: #555252;
}
.btn-next {
	position: absolute;
	right: 0;
	top:50%;
	transform: translateY(-50%);
	margin-right: 90px;
	z-index: 200;
	font-size: 30px;
	color: #555252;

}
.btn-previous:hover {
	color: #6f42c1
}
.btn-next:hover {
	color: #6f42c1
}
.section-banner {
	padding-top: 60px;
}
.banner-list {
	display: inline-block;
}

.banner-list li {
	display: inline-block;
	margin-left: 25px;
}
.banner-list li:first-child {
	margin-left: 0;
}
.banner-list li:last-child {
	float: right;
}
.banner-list img:hover{
	transition: all .5s ease 0s;
	transform: scale(1.1);
}
.section-product {
	padding-top: 100px;
}
.product-tab {
	text-align: center;
}
.product-tab li {
	display: inline-block;
	padding:0 15px;
	position: relative;
}
.product-tab li:first-child {
	padding-left: 0;
}
.product-tab a {
	font-weight: 400;
	font-size: 18px;
}
.product-tab a:hover {
	color: black;
}
.hr {
	position: absolute;
	width:75%;	
	height: 3px;
	background-color: black;
	top:30px;
	left:50%;
	transform: translateX(-50%);
}
.product-list {
	margin-top: 50px;
	display: inline-block;
	margin-bottom: 40px;
}
.product-item {
	width: 25%;
	float: left;
	padding: 0 15px;
	margin-top:20px;
}
.product-img {
	position: relative;
}
.product-item img {
	width: 100%;
}
.badges {
	padding: 3px 11px;
}
.product-badges {
	position: absolute;
	top:10px;
	right:12px;
}
.product-discount {
	display: block;
	background-color: #fa6bff;
	color:white;
	border-radius: 4px;
	text-align: center;

}
.product-new {
	display: block;
	background-color: #a749ff;
	color: white;
	border-radius: 2px;
	text-align: center;
	margin-top: 10px;
}
.product-content {
	margin-top: 30px;
	text-align: center;
	color: black
}
.price-discount {
	color: #fa6bff;
	text-decoration: line-through;
}
.product-content a:hover {
	color:  #a749ff;
}
.product-content .title {
	margin-bottom: 10px;
}
.product-content h3 {
	font-size: 16px;
}
.product-actions{
	padding-top: 10px;
	padding-bottom: 10px;
	display: none;
	width: 100%;
	background-color: #a749ff;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: all .5s ease 0s; 
	z-index: 999;
}
.product-actions ul {
	text-align: center;
}
.product-actions li {
	display: inline-block;
	background-color: white;
	padding: 10px 10px 10px 10px;
	color: black;
	border-radius: 50%;

}
.product-actions li:hover {
	background-color: #fa6bff;
}
.product-actions li:hover button  {
	color: white;
}
.product-item:hover .product-actions {
	display: inline-block;

}
.product-more {
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	position: 
	margin-top: 20px;
	display: block;
	font-weight: 600;
}
.product-more:hover {
	color: #a749ff;
}
.section-categories {
	margin-top: 80px;
}
.categories-list {
	display: inline-block;
}
.categories-list li { 
	display: inline-block;
	margin-left: 20px;
	position: relative;
}
.categories-list li:first-child {
	margin-left: 0;
}
.categories-content {
	position: absolute;
	top: 30%;
	transform: translateY(-50%);
	padding-left:40px; 
	font-weight: 600 !important;
	font-family: 'Cormorant Garamond', serif;
}
.categories-list li img:hover {
	transition: all .5s ease 0s; 
	transform: scale(1.1);
}

.categories-content h2 {
	font-size: 36px;
	font-weight: 600 !important;
}
.categories-content p {
	font-size: 18px;
}
.color-r {
	color: #915342;

}
.category-detail {
	padding: 6px 6px 6px 6px;
	border-radius: 50%;
	border:2px solid ;
	position: absolute;
	bottom:-60px;
	text-align: center;
	font-size: 13px;
}
.category-detail:hover {
	border-color: #a749ff;
	color: #a749ff;
}
.section-deal {
	margin-top: 100px;
	position: relative;
}	
.list-deal li {
	display: inline-block;
	padding-left: 70px;
	vertical-align: middle;
	text-align: center;

}
.list-deal li:first-child {
	padding-left: 0;
}
.list-deal {
	display: inline-block;
}
.list-deal li h3 {
	font-size: 48px;
	font-weight: 400;
	color: black;
	margin-bottom: 40px;
}
.time-remaining {
	margin-bottom: 60px;
}
.time-remaining li{
	display: inline-block;
	padding: 0 20px;
	font-weight: 600;
	font-size: 50px;
}
.time-remaining p {
	font-size: 20px;
	margin: 24px 0 0;

}
.btn-primary {
	background-color: #c61a32;
	border-radius: 25px;
	color: white;
}
.list-deal li a:hover {
	background-color: #a749ff;
}
.section-support {
	margin-top: 100px;
	margin-bottom: 100px;
}

.support-list li {
	display: inline-block;
	padding: 30px 35px 30px 35px;
	vertical-align: middle;
	text-align: center !important;
	margin-left: 19px;
	width: 32%;
	position: relative;
}
.support-list li:first-child {
	margin-left: 0;
}
.support-list li img {
	vertical-align: middle;
}
.support-item p {
	font-weight:600;
}
.bg-blue {
	background-color: rgb(204, 251, 233);
}
.bg-pink {
	background-color: rgb(242, 251, 204);
}
.icon-support {
	position: absolute;
	right: 0;
	bottom: 3px;
}
.icon-support:hover {
	transition: all .5s ease 0s; 
	transform: scale(1.2);
}
.section-post {
	margin-top: 100px;
	text-align: center;
}
.section-post h2 {
	font-size: 36px;
	color: black;
}
.section-post p {
	font-size: 16px;
}
.blog-list {
	display: inline-block;
	margin-top: 50px;
}
.blog-list li {
	display: inline-block;
	margin-left: 25px;
	position: relative;
}
.blog-list li:first-child {
	margin-left: 0;

}
.blog-list li img:hover {
	transition: all .5s ease 0s; 
	transform: scale(1.2);
}
.badges-red {
	padding: 3px 11px;
	background-color: #c61a32;
	color: white;
	font-weight:600;
}
.blog-categories {
	position: absolute;
	top: 10px;
	right: 20px;
	display: block;
}
.category-style {
	display: inline-block;
	margin: 0 5px;
}
.category-style:first-child {
	display: inline-block;
	margin-left:0;
}
.blog-info {
	width: 100%;
	min-height: 150px;
	background-color: #f6f3f3;
	padding: 21px 15px 30px;
	margin-top: 10px;
}
.blog-info h3 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 20px;
	color: black;
}
.blog-info span {
	font-style: italic;
	font-weight: 600px;
}
.blog-info a:hover {
	color: #a749ff;
}
/* Footer*/
.page-footer {
	margin-top: 100px;
	background-color: #f6f6f8;
	color: #5d5d5d;
	padding: 80px 0;
	position: relative;
}
.page-footer a:hover {
	color: #a749ff;
}
.title-footer {
	font-size: 18px !important;
	color: black;
}
.page-footer li {
	padding-top: 20px;
	font-size: 14px;
}
.page-footer li:first-child {
	padding-top: 0;
}

.footer-col {
	width: 16.66666%;
	vertical-align: middle;
	padding: 0 35px;
	display: inline-block;
}
.footer-col:first-child {
	padding-left: 0;
}
.footer-col-2 {
	display:inline-block;
	padding: 0 70px;
	padding-right: 0;
	width: 32%;
	vertical-align: middle;
	padding-top: 21px;
	line-height: 20px;


}

.footer-col-2 p {
	margin-bottom: 25px;
	padding-right: 0;
}
.footer-col-2 button {
	display: block;
	text-decoration: underline;
	font-size: 13px !important;
	font-weight: 400; 
}
.footer-col-2 button:hover {
	color: #a749ff;
}
.f-18 {
	font-size: 15px;
	display: block;
	margin-top: 10px;
}
.copyright {
	display: block;
	margin-top: 10px;
}
input[type="text"] {
	margin-bottom: 25px;
	border:none;
	width: 	100%;
	height: 30px;
	background-color: transparent;
	border-bottom: 2px solid #ebebeb;
}
.scroll-top {
	position: absolute;
	padding: 16px 20px 16px 20px;
	border-radius: 50%;
	background-color: #a749ff;
	color: white;
	bottom: 20px;
}
@media only screen and (max-width: 1330px) {
	.container {
		max-width: 1100px;
		padding: 0 10px;
	}
	.banner-list li {
		width: 48.3%;
	}
	.banner-list li img {
		width: 100%;
	}
	.product-item {
		width: 33.3333%
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 33%;

	}
	.categories-list li img {
		width: 100%;
	}
	.list-deal li {
		width: 48%;
	}
	.list-deal img {
		width: 100%;
	}

	.time-remaining li {
		font-size: 40px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 18px;
	}
	.support-list li {
		width: 30.8%;
		padding: 30px 25px 30px 25px;
		margin-left:30px;


	}
	.blog-list .blog-item {
		width: 33%;
	}
	.blog-item img {
		width: 100%;
	}

}
@media only screen and  (max-width: 1125px) {
	.container {
		max-width: 960px;
		padding: 0 5px;
	}
	.carousel-item .image-carousel {
		height: 500px;
	}
	.carousel-item h1 {
		font-size: 56px;
	}
	.banner-list li {
		width: 49%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 33.3333%
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 31%;
		margin-left:29.5px;

	}
	.categories-list li:first-child {
		margin-left: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.list-deal li {
		width: 48%;
	}
	.list-deal img {
		width: 100%;
	}

	.time-remaining li {
		font-size: 40px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 18px;
	}
	.support-list li {
		width: 30.8%;
		padding: 30px 25px 30px 25px;
		margin-left:30px;


	}
	.blog-list .blog-item {
		width: 31%;
	}
	.blog-item img {
		width: 100%;
	}
	.footer-col {
		display: inline-block;
		padding: 0 5px;
		width: 15%;
	}
	.footer-col-2 {
		padding-left: 40px ;
		width: 38%;
	}

}
@media only screen and (max-width: 1054px) {
	.header-menu>li {
		padding-left: 10px;
	}
	.container {
		max-width: 960px;
		padding: 0 5px;
	}
	.carousel-item .image-carousel {
		height: 500px;
	}
	.carousel-item h1 {
		font-size: 56px;
	}
	.banner-list li {
		width: 49%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 33.3333%
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 31%;
		margin-left:29.5px;

	}
	.categories-list li:first-child {
		margin-left: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.list-deal li {
		width: 48%;
	}
	.list-deal img {
		width: 100%;
	}

	.time-remaining li {
		font-size: 40px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 18px;
	}
	.support-list li {
		width: 30.8%;
		padding: 30px 25px 30px 25px;
		margin-left:30px;


	}
	.blog-list .blog-item {
		width: 31%;
	}
	.blog-item img {
		width: 100%;
	}
	.footer-col {
		display: inline-block;
		padding: 0 5px;
		width: 15%;
	}
	.footer-col-2 {
		padding-left: 40px ;
		width: 38%;
	}

	
}
@media only screen and (max-width: 994px) {
	.container {
		max-width: 720px;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.header-actions .btn-menu {
		display: inline-block;
	}
	.header-actions .btn-search {
		display: none;
	}
	.header-actions .btn-user {
		display: none;
	}
	.header-logo {
		line-height: 70px;
	}
	.header-actions li {
		line-height: 70px;
	}
	.header-actions .counter {
		top:10px;
	}
	.carousel-item .image-carousel {
		height: 500px;
	}
	.carousel-item h1 {
		font-size: 56px;
	}
	.banner-list li {
		width: 49%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 50%;
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 32%;
		margin-left: 10px;

	}
	.categories-list li:first-child {
		margin-left: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.categories-content {
		position: absolute;
		top: 30%;
		transform: translateY(-50%);
		padding-left:15px; 
		font-weight: 600 !important;
		font-family: 'Cormorant Garamond', serif;
	}

	.categories-content h2 {
		font-size: 27px;
		font-weight: 600 !important;
	}
	.category-detail {
		padding: 3px 4px 3px 4px;
		border-radius: 50%;
		border:2px solid ;
		position: absolute;
		bottom:-45px;
		text-align: center;
		font-size: 13px;
	}
	.list-deal li {
		width: 48%;
	}
	.list-deal img {
		width: 80%;
	}
	.list-deal>li:first-child {
		float: right;
	}
	.list-deal>li:last-child {
		float: left;
	}
	.list-deal li h3 {
		font-size: 35px;
	}

	.time-remaining li {
		font-size: 30px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 15px;
	}
	.support-list li {
		width: 47%;
		padding: 30px 25px 30px 25px;
		margin-left:30px;


	}
	.support-list li:last-child {
		margin-left: 0;
		margin-top:10px;
	}
	.blog-list .blog-item {
		width: 47%;
	}
	.blog-item img {
		width: 100%;
	}
	.blog-item:last-child {
		display: block;
		margin-top: 30px;
		margin-left: 7px;
	}
	.footer-col {
		display: inline-block;
		padding: 0 5px;
		width: 31%;
	}
	.footer-col:first-child {
		padding-bottom: 45px;
	}
	.footer-col-2 {
		padding-left: 40px ;
		width: 38%;
	}
	.page-footer .scroll-top {
		right: 20px;
	}

}
@media only screen and (max-width: 767px) {
	.container {
		max-width: 540px;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.header-actions .btn-menu {
		display: inline-block;
	}
	.header-actions .btn-search {
		display: none;
	}
	.header-actions .btn-user {
		display: none;
	}
	.header-logo {
		line-height: 70px;
	}
	.header-actions li {
		line-height: 70px;
	}
	.header-actions .counter {
		top:10px;
	}
	.carousel-item .image-carousel {
		height: 400px;
	}
	.carousel-item h1 {
		font-size: 35px;
	}
	.carousel-item h2 {
		font-size: 24px;
	}
	.content-carousel {
		left: 30%;
		text-align: center;
	}
	.banner-list li {
		width: 49%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 50%;
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 100%;
		margin: 0 0 30px 0;

	}
	.categories-list li:first-child {
		margin-top: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.categories-content {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		padding-left:15px; 
		font-weight: 600 !important;
		font-family: 'Cormorant Garamond', serif;
	}

	.categories-content h2 {
		font-size: 27px;
		font-weight: 600 !important;
	}
	.category-detail {
		padding: 3px 4px 3px 4px;
		border-radius: 50%;
		border:2px solid ;
		position: absolute;
		bottom:-45px;
		text-align: center;
		font-size: 13px;
	}
	.section-deal {
		margin-top: 40px;
	}
	.list-deal li {
		width: 100%;
		padding: 0;
	}
	.list-deal img {
		width: 80%;
	}
	.list-deal>li:last-child {
		margin-top:30px;
	}
	.list-deal li h3 {
		font-size: 32px;
	}

	.time-remaining li {
		font-size: 22px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 14px;
	}
	.support-list li {
		width: 45%;
		padding: 30px 25px 30px 25px;
		margin-left:30px;


	}
	.support-list li:last-child {
		margin-left: 0;
		margin-top:10px;
	}
	.blog-list .blog-item {
		width: 47%;
	}
	.blog-item img {
		width: 100%;
	}
	.blog-item:last-child {
		display: block;
		margin-top: 30px;
		margin-left: 7px;
	}
	.footer-col {
		display: inline-block;
		padding: 0 5px;
		width: 31%;
	}
	.footer-col:first-child {
		padding-bottom: 45px;
	}
	.footer-col-2 {
		padding-left: 40px ;
		width: 38%;
	}
	.page-footer .scroll-top {
		right: 20px;
	}

}
@media only screen and (max-width: 574px) {
	.container {
		width: 100%;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.header-actions .btn-menu {
		display: inline-block;
	}
	.header-actions .btn-search {
		display: none;
	}
	.header-actions .btn-user {
		display: none;
	}
	.header-logo {
		line-height: 70px;
	}
	.header-actions li {
		line-height: 70px;
	}
	.header-actions .counter {
		top:10px;
	}
	.carousel-item .image-carousel {
		height: 400px;
	}
	.content-carousel {
		left: 25%;
		text-align: center;
	}
	.carousel-item h1 {
		font-size: 35px;
	}
	.carousel-item h2 {
		font-size: 24px;
	}
	.banner-list li {
		width: 100%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 100%;
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 100%;
		margin: 0 0 30px 0;

	}
	.categories-list li:first-child {
		margin-top: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.categories-content {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		padding-left:15px; 
		font-weight: 600 !important;
		font-family: 'Cormorant Garamond', serif;
	}

	.categories-content h2 {
		font-size: 27px;
		font-weight: 600 !important;
	}
	.category-detail {
		padding: 3px 4px 3px 4px;
		border-radius: 50%;
		border:2px solid ;
		position: absolute;
		bottom:-45px;
		text-align: center;
		font-size: 13px;
	}
	.section-deal {
		margin-top: 40px;
	}
	.list-deal li {
		width: 100%;
		padding: 0;
	}
	.list-deal img {
		width: 80%;
	}
	.list-deal>li:last-child {
		margin-top:30px;
	}
	.list-deal li h3 {
		font-size: 32px;
	}

	.time-remaining li {
		font-size: 22px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 14px;
	}
	.support-list>li {
		width: 100%;
		padding: 30px 25px 30px 25px;
		margin-top:50px;
		text-align: center;
		margin: 0 0 20px 0;

	}

	.blog-list .blog-item {
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.blog-item img {
		width: 100%;
	}
	
	.footer-col {
		display: inline-block;
		padding-left:10px;
		width: 100%;
		text-align: left;
	}

	.footer-col-2 {
		padding-left: 10px ;
		width: 100%;
	}
	.page-footer .scroll-top {
		right: 20px;
	}

}
@media only screen and (max-width: 370px) {
	.container {
		width: 100%;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.header-actions .btn-menu {
		display: inline-block;
	}
	.header-actions .btn-search {
		display: none;
	}
	.header-actions .btn-user {
		display: none;
	}
	.header-logo {
		line-height: 70px;
	}
	.header-actions li {
		line-height: 70px;
	}
	.header-actions .counter {
		top:10px;
	}
	.carousel-item .image-carousel {
		height: 400px;
	}
	.content-carousel {
		left: 5%;
		text-align: center;
	}
	.carousel-item h1 {
		font-size: 35px;
	}
	.carousel-item h2 {
		font-size: 24px;
	}
	.banner-list li {
		width: 100%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 100%;
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 100%;
		margin: 0 0 30px 0;

	}
	.categories-list li:first-child {
		margin-top: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.categories-content {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		padding-left:15px; 
		font-weight: 600 !important;
		font-family: 'Cormorant Garamond', serif;
	}

	.categories-content h2 {
		font-size: 27px;
		font-weight: 600 !important;
	}
	.category-detail {
		padding: 3px 4px 3px 4px;
		border-radius: 50%;
		border:2px solid ;
		position: absolute;
		bottom:-45px;
		text-align: center;
		font-size: 13px;
	}
	.section-deal {
		margin-top: 40px;
	}
	.list-deal li {
		width: 100%;
		padding: 0;
	}
	.list-deal img {
		width: 80%;
	}
	.list-deal>li:last-child {
		margin-top:30px;
	}
	.list-deal li h3 {
		font-size: 32px;
	}

	.time-remaining li {
		font-size: 22px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 14px;
	}
	.support-list>li {
		width: 100%;
		padding: 30px 25px 30px 25px;
		margin-top:50px;
		text-align: center;
		margin: 0 0 20px 0;

	}

	.blog-list .blog-item {
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.blog-item img {
		width: 100%;
	}
	
	.footer-col {
		display: inline-block;
		padding-left:10px;
		width: 100%;
		text-align: left;
	}

	.footer-col-2 {
		padding-left: 10px ;
		width: 100%;
	}
	.page-footer .scroll-top {
		right: 20px;
	}

}
@media only screen and (max-width: 258px) {
	.container {
		width: 100%;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.header-actions {
		display: block;
		float: left;
	}
	.header-actions .btn-menu {
		display: inline-block;
	}
	.header-actions .btn-search {
		display: none;
	}
	.header-actions .btn-user {
		display: none;
	}
	.header-logo {
		line-height: 70px;
	}
	.header-actions li {
		line-height: 70px;
	}
	.header-actions .counter {
		top:10px;
	}
	.carousel-item .image-carousel {
		height: 400px;
	}
	.content-carousel {
		left: 5%;
		text-align: center;
	}
	.carousel-item h1 {
		font-size: 35px;
	}
	.carousel-item h2 {
		font-size: 24px;
	}
	.banner-list li {
		width: 100%;
		margin-left: 0;
	}
	.banner-list li img {
		width: 100%;
		height: auto;
	}
	.product-item {
		width: 100%;
	}
	.categories-list {
		width: 100%;
	}
	.categories-list li {
		width: 100%;
		margin: 0 0 30px 0;

	}
	.categories-list li:first-child {
		margin-top: 0;	
	}
	.categories-list li img {
		width: 100%;
	}
	.categories-content {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		padding-left:15px; 
		font-weight: 600 !important;
		font-family: 'Cormorant Garamond', serif;
	}

	.categories-content h2 {
		font-size: 27px;
		font-weight: 600 !important;
	}
	.category-detail {
		padding: 3px 4px 3px 4px;
		border-radius: 50%;
		border:2px solid ;
		position: absolute;
		bottom:-45px;
		text-align: center;
		font-size: 13px;
	}
	.section-deal {
		margin-top: 40px;
	}
	.list-deal li {
		width: 100%;
		padding: 0;
	}
	.list-deal img {
		width: 80%;
	}
	.list-deal>li:last-child {
		margin-top:30px;
	}
	.list-deal li h3 {
		font-size: 32px;
	}

	.time-remaining li {
		font-size: 22px;
		width: 20%;
		padding:0;

	}
	.time-remaining li p {
		font-size: 14px;
	}
	.support-list>li {
		width: 100%;
		padding: 30px 25px 30px 25px;
		margin-top:50px;
		text-align: center;
		margin: 0 0 20px 0;

	}

	.blog-list .blog-item {
		width: 100%;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.blog-item img {
		width: 100%;
	}
	
	.footer-col {
		display: inline-block;
		padding-left:10px;
		width: 100%;
		text-align: left;
	}

	.footer-col-2 {
		padding-left: 10px ;
		width: 100%;
	}
	.page-footer .scroll-top {
		right: 20px;
	}
}
@media only screen and (max-width: 418px) {
	.product-tab li {
		width: 100%;
		margin-top: 20px;

	}
}

